<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%=base%></title>

  <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      body{
        padding-top: 65px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="<%=base%>" class="navbar-brand">My Schema Site</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><%=term.out(ns.rdfs`label`).value %></h1>
          <p><%=term.out(ns.rdfs`label`).comment %></p>
        </div>
      </div>

      <!-- TODO: change to schema:domainIncludes and schema:rangeIncludes -->

      <div class="row">
        <div class="col-md-12">
          <!-- values expected to be one of these types -->
          <h3>Values expected to be one of these types</h3>
          <ul>
            <% term.out(ns.rdfs`range`).forEach(c => { %>
            <li><a href="/<%=basename(c.value)%>"><%=c.out(ns.rdfs`label`).value %></a></li>
            <%}) %>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <!-- used on these types -->
          <h3>Used on these types</h3>
          <ul>
            <% term.out(ns.rdfs`domain`).forEach(c => { %>
            <li><a href="/<%=basename(c.value)%>"><%=c.out(ns.rdfs`label`).value %></a></li>
            <%}) %>
          </ul>
        </div>
      </div>
    </div>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
